* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #77CDFF;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.content h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 10px;
}

.content h1 span {
    display: block;
    font-size: 24px;
    color:white ;
}

.content p {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

.notify-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}

.notify-btn:hover {
    background-color: #333;
}

.image img {
    width: 150px;
    margin-top: 20px;
}

.social-links{
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    color: #000;
}

.social-links a:hover {
    color: #555;
}
